<!DOCTYPE html>
<html>
  <head>
    <title>Catalog</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="scripts/mainJs.js"></script>
  </head>
  <body>
    <header>
      Web_store
      <a href="http://localhost:3000/login">Log In</a>
      <a href="http://localhost:3000/registr">Registr</a>
    </header>
    <nav>
      <a href="http://localhost:3000/myPage">Cabinet</a>
      <a href="http://localhost:3000/">Catalog</a>
      <a href="http://localhost:3000/bucket">Bucket</a>
    </nav>

    <section>
      <%- body %>
    </section>
    <footer>
      Created by Klymenko Volodymyr.
    </footer>
  </body>
</html>
