<%- layout('layouts/page') -%>

		<form method="post" action = "addin">
			<span>Enter your data</span>

			<p>Name: <br/><input name = "thing_name"/></p>
			<p>Price: <br/><input name = "thing_price"/></p>
			<p>Imag_src: <br/><input name = "thing_img"/></p>
			<p>Count: </b><br/><input name = "thing_count"/></p>
			<button name = "registrations" class = "button">Add</button>
		</form>