<%- layout('layouts/page') -%>


<p style="text-align: center;">User: <%- user_name -%> </p></br>

<p style="text-align: center;"> <a href="/addItem">Add new thing</a> </p>
<p style="text-align: center;"> <a href="">Show all things</a> </p>