<%- layout('layouts/page') -%>
	<div>
		<form method="post" action = "signup">
			<p>Login: <br/><input name = "username"/></p>
			<p>Password: <br/><input name = "password" type = "password"/></p>
			<p>Repeat Password: </b><br/><input name = "password_repeat" type = "password"/></p>
			<button name = "Sign up" class = "button">Sign up</button>
		</form>
	</div>